#wishlist-container {
  max-width: 1100px;
  margin: 30px auto;
  padding: 0 30px;
  min-height: 100vh;
}

#wishlist-container > div {
  display: flex;
  align-items: start;
  gap: 40px;
}

h2 {
  font-size: 40px;
  margin-top: 80px;
}

#wishlist-container > p {
  color: #55585b;
  margin: 10px 0 30px 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

thead {
  background: #f1f3f4;
}

thead th {
  font-weight: 400;
  padding: 10px 20px;
}

thead tr {
  border: none !important;
}

tr {
  border-bottom: 1px solid rgb(222, 222, 222);
}

td,
th {
  text-align: left;
  padding: 8px;
}

.product-cell {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-cell img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  background: #f1f3f4;
}

.remove-from-cart {
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 5px;
  background: white;
  padding: 10px;
  transition: 0.3s;
}

.remove-from-cart:hover {
  color: red;
}

.add-to-cart-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: var(--primary);
  color: white;
  padding: 10px 14px;
}
